In [2]:
import pandas as pd

In [11]:
df = pd.read_csv("movie/ratings.csv")
df

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [12]:
# check unique user and movie
print("unique user: ", len(df.userId.unique()))
print("unique movie: ", len(df.movieId.unique()))

unique user:  138493
unique movie:  26744

In [15]:
# read item_index2entity_id.txt
item_index2entity_id = pd.read_csv("movie/item_index2entity_id.txt", header=None, names=["item_index", "entity_id"], sep="\t")
item_index2entity_id

       item_index  entity_id
0               1          0
1               2          1
2               3          2
3               4          3
4               5          4
...           ...        ...
16949      131239      16949
16950      131241      16950
16951      131248      16951
16952      131256      16952
16953      131260      16953

[16954 rows x 2 columns]

In [16]:
# check unique entity_id
print("unique entity_id: ", len(item_index2entity_id.entity_id.unique()))

unique entity_id:  16954